<%- include('../header' , {title:'Edit Article'}) %>

<form method="post" action="/blog/<%=article.id%>">
	<div>Title: <input type="text" name="title" value="<%=article.title%>"></div>
	<div>Content: <br/><textarea cols="100" rows="20" name="content" ><%=article.content%></textarea></div>
	<button type='submit' name='action' value='send'>Save</button>
	<input type="hidden" name="_method" value="put">
	<input type="hidden" name="id" value="<%=article.id%>">
</form>

<% include ../footer %>
